/*
Orange color: #e67e22;
*/



/*////////////////////////////////////////////////////////////////////////////*/
/* BASIC SETUP */
/*////////////////////////////////////////////////////////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #6441A4;
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-size: 62.5%;
}

.clearfix {zoom: 1} 
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* REUSABLE COMPONENTS */
/*////////////////////////////////////////////////////////////////////////////*/

.row {
    max-width: 1200px;
    margin: 0 auto;  /*margin: 0 auto;*/
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


.div__flexbox{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.div__flexbox--wrap{
    flex-direction: row;
}

.div__flexbox--center{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.div__flexbox--spacebetween{
    justify-content: space-between !important;
}

a{
    text-decoration: none;
    color: inherit;
    
}

h1{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 5rem;
}

h2{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 7rem;
    text-align: center;
}
.icon__twitch{
    width: 128px;
    height: 128px;
}

main{

}

.div__general{
    margin: 0 auto;
    margin-top: 10px;
    max-width: 80%;
    border: 2px solid #000000;
    height: auto;
    padding: 15px 40px 15px 40px;
}



.div__additional{
    width: 100%;
    height: 80vh;
    border: 4px solid #446CB3;
    margin-top: 5px;
}

.div__additional--offline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.div__additional__child{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div__additional__child--offline{
    width: 100%;
    height: 100%;
}

.div__additional__child--game{
    background-color: aqua;
    float: left;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}

.div__additional__child--viewers{
    background-color: aquamarine; 
    float: right;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
}

.div__additional__child--url{
    background-color: cadetblue;
    float: left;
    border-top: 1px solid red;
    border-right: 1px solid red;
}

.div__additional__child--status{
    background-color: chocolate;
    float: right;
    border-top: 1px solid red;
    border-left: 1px solid red;
}


.div__additional__icon{
    display: block;
    font-size: 4rem;
    color: #000000;
}

.viewers{
    display: block;
    color: black;
    margin-bottom: 0px;
}

.display__block{
    display: block;
}

span{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 4rem;
    color: #000000;
}



.flex-container{
  width: 80%;    
  margin: 0 auto;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;   
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between !important;

}

.span__online{
    color: #87D37C;
}

.span__offline{
    color: #F62459;
}

.img__thumbnail{
    width: 30%;
    height: 60%;
    border-radius: 15%;
}




/*FOOTER*/
footer{
  height: 80px;
}
.lastheading{
  float: right;
}
h3{
  font-size: 1.8rem;
  font-weight: 400;
  display: inline;
  color: #FFFFFF;
}

.githubimg{
  width: 50px;
  height: 50px;
  position: relative;
  top: 15px;
  margin-left: 15px;
}


.twitchicon{
    font-size: 8rem;
    color: #000000;
    margin-top: 20px;
    margin-right: 20px;
}

.expandicon{
    font-size: 4rem;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.githubicon{
    font-size: 5rem;
    color: #000000;
    position: relative;
    top: 10px;
    margin-left: 15px;
}