/*
Orange color: #e67e22;
*/



/*////////////////////////////////////////////////////////////////////////////*/
/* BASIC SETUP */
/*////////////////////////////////////////////////////////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #6441A4;
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-size: 62.5%;
}

.clearfix {zoom: 1} 
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* REUSABLE COMPONENTS */
/*////////////////////////////////////////////////////////////////////////////*/

.row {
    max-width: 1200px;
    margin: 0 auto;  /*margin: 0 auto;*/
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


.div__flexbox{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.div__flexbox--center{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.div__flexbox--spacebetween{
    justify-content: space-between;
}

h1{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 5rem;
}

.icon__twitch{
    width: 128px;
    height: 128px;
}

main{

}

.div__general{
    margin: 0 auto;
    max-width: 80%;
    border: 2px solid #000000;
    height: auto;
    padding: 15px 40px 15px 40px;
}

span{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 4rem;
    color: #000000;
}

.span__online{
    color: #87D37C;
}

.span__offline{
    color: #F62459;
}

.img__thumbnail{
    width: 30%;
    height: 60%;
    border-radius: 15%;
}

.icon{
    font-size: 7rem;
}

.div__triangle{
  width: 0;
  height: 0;
  display: inline;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 38px solid #FFFFFF;
}

/*FOOTER*/
footer{
  height: 80px;
}
.lastheading{
  float: right;
}
h6{
  font-size: 1.8rem;
  font-weight: 400;
  display: inline;
  color: #FFFFFF;
}

.githubimg{
  width: 50px;
  height: 50px;
  position: relative;
  top: 15px;
  margin-left: 15px;
}
